body {
    margin: 0;
    padding: 0;
}
.exambackground {
    padding: 15px 30px;
    width: 97%;
    height: 200vh;
    background-image: linear-gradient(to bottom right, rgb(6, 6, 92), rgb(83, 3, 94));
}
.options, .question{
    color: aliceblue;
}